* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $roboto;
    font-weight: inherit;
    color: inherit;
}

body,
html {
    height: 100%;
    font-family: $roboto;
    font-weight: inherit;
    color: inherit;
    line-height: 1.42857143;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
}

input,
textarea {
    outline: none;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

input {
    transition: 0.4s;
}

.input__wrong {
    border-color: #9e0b0f!important;
}

.b {
    font-weight: 700;
}

.content {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    z-index: 3;
}
.textpage{
    padding: 20px;
    min-height: calc(100vh - 350px);
    position: relative;
}

.map-wrap {
    position: absolute;
    z-index: 3;
    // width: 1280px;
    height: calc(100vh - 330px);
    min-height: 680px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .6);
    z-index: 100;

    &_active{
        display: block;
    }
}
