<<<<<<< HEAD
.index-search {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 700px;
    height: 30%;
    transform: translateX(-50%);

    &__container {
        display: flex;
        width: 100%;
        height: 36px;
    }

    &__select {
        line-height: 36px;
        position: relative;
        width: 136px;
        height: 36px;
        border-radius: 4px 0 0 4px;
        background: #fff;
    }

    &__filter {
        line-height: 36px;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        border-right: 1px solid #ccc;

        &::after {
=======
.index-search{
    display: block;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    &__container{
        width: 100%;
        display: flex;
        height: 36px;
    }

    &__select{
        background: #fff;
        height: 36px;
        width: 136px;
        line-height: 36px;
        position: relative;
        border-radius: 4px 0px 0px 4px;
    }

    &__filter{
        width: 100%;
        height: 100%;
        line-height: 36px;
        text-align: center;
        position: relative;
        border-right: 1px solid #ccc;
        cursor: pointer;
        &::after{
>>>>>>> origin/master
            position: absolute;
            top: 50%;
            right: 9px;
            display: block;
            width: 0;
            height: 0;
            margin-top: -2px;
            margin-left: 2px;
            content: '';
            vertical-align: middle;
            border-top: 4px dashed #333;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

<<<<<<< HEAD
    &__list {
=======
    &__list{
>>>>>>> origin/master
        position: absolute;
        top: 38px;
        width: 100%;
        background: #fff;
    }

<<<<<<< HEAD
    &__item {
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
        transition: 0.4s;
        text-align: center;

        &:hover {
=======
    &__item{
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
        text-align: center;
        transition: 0.4s;
        &:hover{
>>>>>>> origin/master
            background: #ccc;
        }
    }

<<<<<<< HEAD
    &__input {
        position: relative;
        width: 75%;

        input {
            width: 100%;
            height: 36px;
            padding-left: 20px;
            border: none;
            background: #fff;
        }
    }

    &__tabs {
        position: absolute;
        bottom: 100%;
        left: 0;
        display: flex;
        align-items: flex-end;
    }

    &__tab {
        font-size: 14px;
        padding: 6px 25px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 3px 3px 0 0;
        background: #fff;

        &_active {
            padding: 8px 25px;
            color: #fff;
            border-color: #9e0b0f;
            background: #9e0b0f;
        }
    }

    &__btn {
        position: relative;
        width: 80px;
        height: 36px;
        cursor: pointer;
        border: none;
        border-radius: 0 4px 4px 0;
        background: #9e0b0f;

        &_load {
            &::after {
                position: absolute;
                z-index: 2000;
                top: 50%!important;
                left: 50%!important;
                margin: -13px 0 0 -11px !important;
                content: '';
                -webkit-transition: 0.4s;
                transition: 0.4s;
                -webkit-animation: loadingSpinner 0.7s infinite linear;
                animation: loadingSpinner 0.7s infinite linear;
=======
    &__input{
        background: #fff;
        height: 36px;
        border: none;
        width: 75%;
        padding-left: 20px;
    }

    &__btn{
        background: #9e0b0f;
        width: 80px;
        height: 36px;
        border-radius: 0px 4px 4px 0px;
        position: relative;
        cursor: pointer;
        border: none;
        &_load{
            &::after{
                background: transparent!important;
                content: '';
                position: absolute;
                top: 50%!important;
                left: 50%!important;
                margin: -13px 0 0 -11px!important;
>>>>>>> origin/master
                border: 4px solid #fff;
                border-top-color: transparent;
                border-left-color: transparent;
                border-radius: 50%;
<<<<<<< HEAD
                background: transparent!important;
            }
        }

        &::after {
            position: absolute;
            top: 10px;
            left: 31px;
            width: 16px;
            height: 16px;
            content: '';
            background: transparent url("../i/origin/sprite.png") -36px -289px no-repeat;
=======
                -webkit-animation: loadingSpinner 0.7s infinite linear;
                animation: loadingSpinner 0.7s infinite linear;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                z-index: 2000;
            }
        }
        &::after{
            content: '';
            position: absolute;
            left: 31px;
            top: 10px;
            background: transparent url(../i/origin/sprite.png) -36px -289px no-repeat;
            width: 16px;
            height: 16px;
>>>>>>> origin/master
        }
    }
}
@-webkit-keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
<<<<<<< HEAD

=======
>>>>>>> origin/master
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
<<<<<<< HEAD
=======

>>>>>>> origin/master
@keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
<<<<<<< HEAD

=======
>>>>>>> origin/master
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
